/* Remove line 2 to hide the outlines. These are here to illustrate how the containers are set up */
/*div, section { outline: 2px solid magenta; }*/

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background:lightblue;
}

.container {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgba(0,0,0,.15);
  /* I used `max-width` instead of `width` to make it responsive */
  max-width: 1450px;
  /* Don't use fixed heights */
  /* height: 500px; */
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
  margin: 40px auto;
  
  /* This line gives you the side-by-side layout you are looking for.
     Here's more information: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox
  */
  display: flex;
}

nav {
  background-color:  rgb(255, 255, 255);
  width: 150px;
  border: 1px solid rgba(0,0,0,.15);
  left: 0;
  top:  0;
  border-radius: 4px;
}
nav ul {
  list-style-type: none;
}
nav li {
  /* I changed padding to a fixed value, don't use percents for margin/padding */
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: center;
  line-height: 1.3;
}
nav a {
  text-decoration: none;
  color: black;
}

header {
  /* Removed all relative positioning */
  height:  50px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: left;
  line-height: 3.5;
  padding: 0 24px;
}

.body {
  /* Set the aside and section side-by-side using flex */
  display: flex;
}

.course {
  /* Let the course dev fill its container as much as it can. Think of this as water filling in available space */
  flex: 1;
}

aside {
  width: 300px;
  /* Instead of adding 30px margin to all the children, simply use padding on the parent instead */
  padding: 30px;
  border-left: 1px solid rgba(0,0,0,.15);
  border-top: 1px solid rgba(0,0,0,.15);
}
aside > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button1 {
  background-color: #4CAF50;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  width: 100%;
  /* Removed margin */
}

.button2 {
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  border:   1px solid rgba(0,0,0,.15);
  padding: 5px;
  width: 100%;
  /* Removed margin */
}

section {
  /* Removed all the relative positioning and static width/height values */
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  background-color:  rgb(255, 255, 255);
  /* Same as before, use parent padding instead of chidlren margin */
  padding: 10px;
  margin: 10px;
}

.course-body {
  display: flex;
  padding: 10px;
}
.course-body img {
  min-width: 305px;
}
.course-description {
  margin: 10px;
}

section h6 {
  font-family: "Courier";
  color: rgb(107, 107, 107);
}

section p {
  font-family: "Courier";
  font-size: 12px;
  word-wrap: normal;
}

section button {
  width: 100px;
}